<body>
  <h1>Create Musician</h1>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="role">Role:</label>
    <input type="text" id="role" name="role"><br>

    <label for="genre">Favorite Genre:</label>
    <input type="text" id="genre" name="genre"><br>

    <label for="band">Favorite Band:</label>
    <input type="text" id="band" name="band"><br>

    <button type="submit">Save Profile</button>
  </form>
</body>

