<div class="index-page">
  <div class="red-container">
    <h1>Your Profile</h1>
    <br />
    <a class="btn" href="/login">Main</a>
    <a href="/profile/createMusician">Create Musician</a>
    <a href="/profile/musicianList">Musician List</a>
    <br />
  </div>
</div>
